In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("customer_dataset.csv", sep=',')

In [3]:
probando = data.copy()

In [4]:
data['orderAmount'], saved_bins_order = pd.qcut(data['orderAmount'], q=5, duplicates='drop', retbins=True)

In [5]:
import pickle
with open('saved_bins_order.pickle', 'wb') as handle:
    pickle.dump(saved_bins_order, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [6]:
data['transactionAmount'], saved_bins_order = pd.qcut(data['transactionAmount'], q=4, duplicates='drop', retbins=True)

In [7]:
with open('saved_bins_order.pickle', 'rb') as handle:
    new_saved_bins_order = pickle.load(handle)

In [8]:
import pickle
with open('saved_bins_transaction.pickle', 'wb') as handle:
    pickle.dump(saved_bins_order, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [9]:
probando["orderAmount"] = pd.cut(
    probando['orderAmount'],
    bins=new_saved_bins_order, 
    include_lowest=True) # importante para que coincidan todos

In [10]:
data['paymentMethodIssuer'].value_counts()

paymentMethodIssuer
Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
Bulwark Trust Corp.         29
Citizens First Banks        28
Grand Credit Corporation    27
Solace Banks                27
Rose Bancshares             25
B                            7
e                            5
c                            4
r                            3
                             2
n                            2
x                            2
o                            2
a                            1
p                            1
Name: count, dtype: int64

In [11]:
#Reemplazar un valor a la vez
weird_payment_method = ["B", "e", "c", "r", " ", "n", "x", "o", "a", "p"]

for payment_method in weird_payment_method:
    data['paymentMethodIssuer'] = data['paymentMethodIssuer'].replace(payment_method, 'weird')

In [12]:
data['paymentMethodIssuer'].value_counts()

paymentMethodIssuer
Her Majesty Trust           43
Vertex Bancorp              37
Fountain Financial Inc.     35
His Majesty Bank Corp.      33
Bastion Banks               29
weird                       29
Bulwark Trust Corp.         29
Citizens First Banks        28
Solace Banks                27
Grand Credit Corporation    27
Rose Bancshares             25
Name: count, dtype: int64

In [13]:
data['paymentMethodProvider'].value_counts()

paymentMethodProvider
JCB 16 digit                   65
VISA 16 digit                  57
Voyager                        36
Diners Club / Carte Blanche    34
Maestro                        32
VISA 13 digit                  32
Discover                       25
American Express               22
JCB 15 digit                   20
Mastercard                     19
Name: count, dtype: int64

In [14]:
data['paymentMethodType'].value_counts()

paymentMethodType
card         242
apple pay     36
paypal        36
bitcoin       28
Name: count, dtype: int64

In [15]:
from funpymodeling.exploratory import freq_tbl, status, profiling_num
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,orderAmount,145,0.232745,0,0.000000,5,category
1,orderState,145,0.232745,0,0.000000,3,object
2,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
3,paymentMethodType,281,0.451043,0,0.000000,4,object
4,paymentMethodProvider,281,0.451043,0,0.000000,10,object
5,paymentMethodIssuer,281,0.451043,0,0.000000,11,object
6,transactionAmount,0,0.000000,0,0.000000,4,category
7,transactionFailed,0,0.000000,455,0.730337,2,bool
8,fraudulent,455,0.730337,107,0.171750,2,object
9,emailDomain,0,0.000000,0,0.000000,6,object
10,emailProvider,0,0.000000,0,0.000000,5,object
11,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object
12,sameCity,0,0.000000,0,0.000000,3,object

In [16]:
data['fraudulent']=data['fraudulent'].fillna(value="warning")

In [17]:
data["fraudulent"].value_counts()

fraudulent
warning    455
False      107
True        61
Name: count, dtype: int64

In [18]:
data['fraudulent']=data['fraudulent'].astype(str)

In [19]:
class_map = {'False': 0, 'True': 1, 'warning': 2}
data['fraudulent'] = data['fraudulent'].map(class_map)

In [20]:
data.head(3)

,orderAmount,orderState,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionAmount,transactionFailed,fraudulent,emailDomain,emailProvider,customerIPAddressSimplified,sameCity
0,"(9.999, 18.4]",pending,True,card,JCB 16 digit,Citizens First Banks,"(9.999, 21.0]",False,0,com,yahoo,only_letters,yes
1,"(18.4, 30.0]",fulfilled,True,bitcoin,VISA 16 digit,Solace Banks,"(21.0, 34.0]",False,1,com,yahoo,only_letters,no
2,"(39.0, 47.0]",fulfilled,False,card,VISA 16 digit,Vertex Bancorp,"(34.0, 45.0]",False,0,com,yahoo,digits_and_letters,no

In [21]:
data['orderAmount'].value_counts()


data['orderAmount']=data['orderAmount'].cat.add_categories("desconocido")
data['orderAmount']=data['orderAmount'].fillna(value="desconocido")

In [22]:
data['orderAmount'].value_counts()

orderAmount
desconocido      145
(30.0, 39.0]      98
(39.0, 47.0]      97
(9.999, 18.4]     96
(18.4, 30.0]      96
(47.0, 353.0]     91
Name: count, dtype: int64

In [23]:
data_ohe = pd.get_dummies(data)

In [24]:
data_ohe

,transactionFailed,fraudulent,"orderAmount_(9.999, 18.4]","orderAmount_(18.4, 30.0]","orderAmount_(30.0, 39.0]","orderAmount_(39.0, 47.0]","orderAmount_(47.0, 353.0]",orderAmount_desconocido,orderState_failed,orderState_fulfilled,...,emailProvider_gmail,emailProvider_hotmail,emailProvider_other,emailProvider_weird,emailProvider_yahoo,customerIPAddressSimplified_digits_and_letters,customerIPAddressSimplified_only_letters,sameCity_no,sameCity_unknown,sameCity_yes
0,False,0,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
1,False,1,False,True,False,False,False,False,False,True,...,False,False,False,False,True,False,True,True,False,False
2,False,0,False,False,False,True,False,False,False,True,...,False,False,False,False,True,True,False,True,False,False
3,False,0,False,True,False,False,False,False,False,True,...,False,False,False,False,True,True,False,True,False,False
4,True,1,False,False,False,True,False,False,False,True,...,False,False,True,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,True,2,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,True,False,True,False
619,True,2,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,True,False,True,False
620,False,2,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,True,False,True,False
621,False,2,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,True,False,True,False
622,False,2,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,True,False,True,False

In [25]:
data_ohe_without_fraudulent = data_ohe.drop(["fraudulent"], axis=1)

In [27]:
data_ohe_without_fraudulent

,transactionFailed,"orderAmount_(9.999, 18.4]","orderAmount_(18.4, 30.0]","orderAmount_(30.0, 39.0]","orderAmount_(39.0, 47.0]","orderAmount_(47.0, 353.0]",orderAmount_desconocido,orderState_failed,orderState_fulfilled,orderState_pending,...,emailProvider_gmail,emailProvider_hotmail,emailProvider_other,emailProvider_weird,emailProvider_yahoo,customerIPAddressSimplified_digits_and_letters,customerIPAddressSimplified_only_letters,sameCity_no,sameCity_unknown,sameCity_yes
0,False,True,False,False,False,False,False,False,False,True,...,False,False,False,False,True,False,True,False,False,True
1,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,True,False,True,True,False,False
2,False,False,False,False,True,False,False,False,True,False,...,False,False,False,False,True,True,False,True,False,False
3,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,True,True,False,True,False,False
4,True,False,False,False,True,False,False,False,True,False,...,False,False,True,False,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,True,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,True,False
619,True,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,True,False
620,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,True,False
621,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,True,False
622,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,True,False

In [26]:
with open('categories_ohe_without_fraudulent.pickle', 'wb') as handle:
    pickle.dump(data_ohe_without_fraudulent.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)